# Loading the data

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.preprocessing import label_binarize

In [2]:
!ls data

titanic wine

In [3]:
training_data = pd.read_csv('./data/titanic/cleandata.train.csv')
test_data = pd.read_csv('./data/titanic/cleandata.test.csv')

training_data['Training_set'] = 1
test_data['Training_set'] = 0

In [4]:
full_data = pd.concat([training_data, test_data])

In [5]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,lastName,title,otherName,Training_set
0,522,yes,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,Vovk,Mr,Janko,1
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Master,Gosta Leonard,1
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S,Asplund,Master,Edvin Rojj Felix,1
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S,Lindahl,Miss,Agda Thorilda Viktoria,1
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,NaN,S,Jensen,Mr,Svend Lauritz,1
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,Harris,Mrs,Henry Birkhardt (Irene Wallach),1
6,642,no,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,Sagesser,Miss,Emma,1
7,801,yes,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S,Ponesell,Mr,Martin,1
8,839,no,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,Chip,Mr,Chang,1
9,65,yes,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,Stewart,Mr,Albert A,1
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S,Lindqvist,Mr,Eino William,1
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S,Strom,Mrs,Wilhelm (Elna Matilda Persson),1
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,Slocovski,Mr,Selman Francis,1
13,838,yes,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S,Sirota,Mr,Maurice,1
14,365,yes,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q,O'Brien,Mr,Thomas,1
15,399,yes,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Pain,Mr,Alfred,1
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,Goldenberg,Mrs,Samuel L (Edwiga Grabowska),1
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q,Daly,Mr,Eugene Patrick,1
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr,Ilmari Rudolf,1
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Mrs,William (Imanita Parrish Hall),1
20,623,no,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,NaN,C,Nakid,Mr,Sahid,1
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Mr,Washington Augustus II,1
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S,Kvillner,Mr,Johan Henrik Johannesson,1
23,426,yes,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,Wiseman,Mr,Phillippe,1
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,NaN,S,Norman,Mr,Robert Douglas,1
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S,Johnson,Mr,Malkolm Joackim,1
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S,Drew,Mrs,James Vivian (Lulu Thorne Christian),1
27,728,no,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q,Mannion,Miss,Margareth,1
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S,Reynaldo,Miss,Encarnacion,1
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,Millet,Mr,Francis Davis,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,Marvin,Mr,Daniel Warner,0
150,750,yes,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q,Connaghton,Mr,Michael,0
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S,Theobald,Mr,Thomas Leonard,0
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S,Rothes,Mrs,of (Lucy Noel Martha Dyer-Edwards),0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S,Myhrman,Mr,Pehr Fabian Oliver Malkolm,0
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,Kilgannon,Mr,Thomas J,0
155,781,no,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,NaN,C,Ayoub,Miss,Banoura,0
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Sjoblom,Miss,Anna Sofia,0
157,789,no,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,Dean,Master,Bertram Vere,0
158,798,no,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S,Osman,Mrs,Mara,0
159,816,yes,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,Fry,Mr,Richard,0
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S,Heininen,Miss,Wendla Maria,0
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Reuchlin,Master,John George,0
162,824,no,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S,Moor,Mrs,(Beila),0
163,828,no,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,Mallet,Master,Andre,0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,Yasbeck,Mrs,Antoni (Selini Alexander),0
165,833,yes,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C,Saad,Mr,Amin,0
166,835,yes,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,Allum,Mr,Owen George,0
167,843,no,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,Serepeca,Miss,Augusta,0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,Lemberopolous,Mr,Peter L,0
169,849,yes,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Harper,Rev,John,0
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,Boulos,Miss,Nourelain,0
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Wick,Mrs,George Dennick (Mary Hitchcock),0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,Hansen,Mr,Claus Peter,0
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Mrs,(Karolina),0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Mr,Frans Olof,0
175,879,yes,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Mr,Kristo,0
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Mr,Frederick James,0
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Mrs,William (Margaret Norton),0
178,891,yes,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Mr,Patrick,0

In [6]:
full_data['result'] = label_binarize(full_data['survived'], classes=['no','yes'], neg_label=0, pos_label=1)

In [7]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,lastName,title,otherName,Training_set,result
0,522,yes,3,"Vovk, Mr. Janko",male,22.0,0,0,349252,7.8958,NaN,S,Vovk,Mr,Janko,1,1
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Master,Gosta Leonard,1,1
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S,Asplund,Master,Edvin Rojj Felix,1,0
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S,Lindahl,Miss,Agda Thorilda Viktoria,1,1
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.0,1,0,350048,7.0542,NaN,S,Jensen,Mr,Svend Lauritz,1,1
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.4750,C83,S,Harris,Mrs,Henry Birkhardt (Irene Wallach),1,0
6,642,no,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,Sagesser,Miss,Emma,1,0
7,801,yes,2,"Ponesell, Mr. Martin",male,34.0,0,0,250647,13.0000,NaN,S,Ponesell,Mr,Martin,1,1
8,839,no,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S,Chip,Mr,Chang,1,0
9,65,yes,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C,Stewart,Mr,Albert A,1,1
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.0,1,0,STON/O 2. 3101285,7.9250,NaN,S,Lindqvist,Mr,Eino William,1,0
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S,Strom,Mrs,Wilhelm (Elna Matilda Persson),1,1
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S,Slocovski,Mr,Selman Francis,1,1
13,838,yes,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S,Sirota,Mr,Maurice,1,1
14,365,yes,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q,O'Brien,Mr,Thomas,1,1
15,399,yes,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S,Pain,Mr,Alfred,1,1
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,Goldenberg,Mrs,Samuel L (Edwiga Grabowska),1,0
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q,Daly,Mr,Eugene Patrick,1,0
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr,Ilmari Rudolf,1,1
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Mrs,William (Imanita Parrish Hall),1,0
20,623,no,3,"Nakid, Mr. Sahid",male,20.0,1,1,2653,15.7417,NaN,C,Nakid,Mr,Sahid,1,0
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Mr,Washington Augustus II,1,1
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S,Kvillner,Mr,Johan Henrik Johannesson,1,1
23,426,yes,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,Wiseman,Mr,Phillippe,1,1
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.0,0,0,218629,13.5000,NaN,S,Norman,Mr,Robert Douglas,1,1
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.0,0,0,347062,7.7750,NaN,S,Johnson,Mr,Malkolm Joackim,1,1
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,NaN,S,Drew,Mrs,James Vivian (Lulu Thorne Christian),1,0
27,728,no,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q,Mannion,Miss,Margareth,1,0
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S,Reynaldo,Miss,Encarnacion,1,0
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,Millet,Mr,Francis Davis,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S,Marvin,Mr,Daniel Warner,0,1
150,750,yes,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q,Connaghton,Mr,Michael,0,1
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.0,0,0,363294,8.0500,NaN,S,Theobald,Mr,Thomas Leonard,0,1
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S,Rothes,Mrs,of (Lucy Noel Martha Dyer-Edwards),0,0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S,Myhrman,Mr,Pehr Fabian Oliver Malkolm,0,1
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q,Kilgannon,Mr,Thomas J,0,1
155,781,no,3,"Ayoub, Miss. Banoura",female,13.0,0,0,2687,7.2292,NaN,C,Ayoub,Miss,Banoura,0,0
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Sjoblom,Miss,Anna Sofia,0,0
157,789,no,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,Dean,Master,Bertram Vere,0,0
158,798,no,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S,Osman,Mrs,Mara,0,0
159,816,yes,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,Fry,Mr,Richard,0,1
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S,Heininen,Miss,Wendla Maria,0,1
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,Reuchlin,Master,John George,0,1
162,824,no,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S,Moor,Mrs,(Beila),0,0
163,828,no,2,"Mallet, Master. Andre",male,1.0,0,2,S.C./PARIS 2079,37.0042,NaN,C,Mallet,Master,Andre,0,0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,Yasbeck,Mrs,Antoni (Selini Alexander),0,0
165,833,yes,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C,Saad,Mr,Amin,0,1
166,835,yes,3,"Allum, Mr. Owen George",male,18.0,0,0,2223,8.3000,NaN,S,Allum,Mr,Owen George,0,1
167,843,no,1,"Serepeca, Miss. Augusta",female,30.0,0,0,113798,31.0000,NaN,C,Serepeca,Miss,Augusta,0,0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,NaN,C,Lemberopolous,Mr,Peter L,0,1
169,849,yes,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S,Harper,Rev,John,0,1
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C,Boulos,Miss,Nourelain,0,1
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,Wick,Mrs,George Dennick (Mary Hitchcock),0,0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,Hansen,Mr,Claus Peter,0,1
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Mrs,(Karolina),0,0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Mr,Frans Olof,0,1
175,879,yes,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Mr,Kristo,0,1
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Mr,Frederick James,0,1
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Mrs,William (Margaret Norton),0,1
178,891,yes,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Mr,Patrick,0,1

In [8]:
categories = ['survived', 'pclass', 'sex', 'embarked', 'title']

In [9]:
for variable in categories:
    full_data[variable] = full_data[variable].astype('category')

# Creating dummy variables and cleaning up data

In [10]:
dummy_sex = pd.get_dummies(full_data['sex'], prefix='sex')
dummy_embarked = pd.get_dummies(full_data['embarked'], prefix='embarked')
dummy_title = pd.get_dummies(full_data['title'],prefix='title')
dummy_pclass = pd.get_dummies(full_data['pclass'],prefix='pclass')

In [11]:
# Add missing ages
full_data.age.fillna(value=full_data.age.mean(), inplace=True)

In [12]:
full_data = pd.concat([full_data, dummy_sex, dummy_embarked, dummy_title, dummy_pclass], axis=1)

In [13]:
full_data

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,...,embarked_Q,embarked_S,title_Master,title_Miss,title_Mr,title_Mrs,title_Rev,pclass_1,pclass_2,pclass_3
0,522,yes,3,"Vovk, Mr. Janko",male,22.000000,0,0,349252,7.8958,...,0,1,0,0,1,0,0,0,0,1
1,8,yes,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,...,0,1,1,0,0,0,0,0,0,1
2,262,no,3,"Asplund, Master. Edvin Rojj Felix",male,3.000000,4,2,347077,31.3875,...,0,1,1,0,0,0,0,0,0,1
3,247,yes,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.000000,0,0,347071,7.7750,...,0,1,0,1,0,0,0,0,0,1
4,722,yes,3,"Jensen, Mr. Svend Lauritz",male,17.000000,1,0,350048,7.0542,...,0,1,0,0,1,0,0,0,0,1
5,231,no,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.000000,1,0,36973,83.4750,...,0,1,0,0,0,1,0,1,0,0
6,642,no,1,"Sagesser, Mlle. Emma",female,24.000000,0,0,PC 17477,69.3000,...,0,0,0,1,0,0,0,1,0,0
7,801,yes,2,"Ponesell, Mr. Martin",male,34.000000,0,0,250647,13.0000,...,0,1,0,0,1,0,0,0,1,0
8,839,no,3,"Chip, Mr. Chang",male,32.000000,0,0,1601,56.4958,...,0,1,0,0,1,0,0,0,0,1
9,65,yes,1,"Stewart, Mr. Albert A",male,29.699118,0,0,PC 17605,27.7208,...,0,0,0,0,1,0,0,1,0,0
10,665,no,3,"Lindqvist, Mr. Eino William",male,20.000000,1,0,STON/O 2. 3101285,7.9250,...,0,1,0,0,1,0,0,0,0,1
11,252,yes,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.000000,1,1,347054,10.4625,...,0,1,0,0,0,1,0,0,0,1
12,88,yes,3,"Slocovski, Mr. Selman Francis",male,29.699118,0,0,SOTON/OQ 392086,8.0500,...,0,1,0,0,1,0,0,0,0,1
13,838,yes,3,"Sirota, Mr. Maurice",male,29.699118,0,0,392092,8.0500,...,0,1,0,0,1,0,0,0,0,1
14,365,yes,3,"O'Brien, Mr. Thomas",male,29.699118,1,0,370365,15.5000,...,1,0,0,0,1,0,0,0,0,1
15,399,yes,2,"Pain, Dr. Alfred",male,23.000000,0,0,244278,10.5000,...,0,1,0,0,1,0,0,0,1,0
16,850,no,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,29.699118,1,0,17453,89.1042,...,0,0,0,0,0,1,0,1,0,0
17,511,no,3,"Daly, Mr. Eugene Patrick",male,29.000000,0,0,382651,7.7500,...,1,0,0,0,1,0,0,0,0,1
18,841,yes,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.000000,0,0,SOTON/O2 3101287,7.9250,...,0,1,0,0,1,0,0,0,0,1
19,881,no,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.000000,0,1,230433,26.0000,...,0,1,0,0,0,1,0,0,1,0
20,623,no,3,"Nakid, Mr. Sahid",male,20.000000,1,1,2653,15.7417,...,0,0,0,0,1,0,0,0,0,1
21,868,yes,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,...,0,1,0,0,1,0,0,1,0,0
22,440,yes,2,"Kvillner, Mr. Johan Henrik Johannesson",male,31.000000,0,0,C.A. 18723,10.5000,...,0,1,0,0,1,0,0,0,1,0
23,426,yes,3,"Wiseman, Mr. Phillippe",male,29.699118,0,0,A/4. 34244,7.2500,...,0,1,0,0,1,0,0,0,0,1
24,563,yes,2,"Norman, Mr. Robert Douglas",male,28.000000,0,0,218629,13.5000,...,0,1,0,0,1,0,0,0,1,0
25,720,yes,3,"Johnson, Mr. Malkolm Joackim",male,33.000000,0,0,347062,7.7750,...,0,1,0,0,1,0,0,0,0,1
26,417,no,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.000000,1,1,28220,32.5000,...,0,1,0,0,0,1,0,0,1,0
27,728,no,3,"Mannion, Miss. Margareth",female,29.699118,0,0,36866,7.7375,...,1,0,0,1,0,0,0,0,0,1
28,444,no,2,"Reynaldo, Ms. Encarnacion",female,28.000000,0,0,230434,13.0000,...,0,1,0,1,0,0,0,0,1,0
29,457,yes,1,"Millet, Mr. Francis Davis",male,65.000000,0,0,13509,26.5500,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,749,yes,1,"Marvin, Mr. Daniel Warner",male,19.000000,1,0,113773,53.1000,...,0,1,0,0,1,0,0,1,0,0
150,750,yes,3,"Connaghton, Mr. Michael",male,31.000000,0,0,335097,7.7500,...,1,0,0,0,1,0,0,0,0,1
151,759,yes,3,"Theobald, Mr. Thomas Leonard",male,34.000000,0,0,363294,8.0500,...,0,1,0,0,1,0,0,0,0,1
152,760,no,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.000000,0,0,110152,86.5000,...,0,1,0,0,0,1,0,1,0,0
153,776,yes,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.000000,0,0,347078,7.7500,...,0,1,0,0,1,0,0,0,0,1
154,779,yes,3,"Kilgannon, Mr. Thomas J",male,29.699118,0,0,36865,7.7375,...,1,0,0,0,1,0,0,0,0,1
155,781,no,3,"Ayoub, Miss. Banoura",female,13.000000,0,0,2687,7.2292,...,0,0,0,1,0,0,0,0,0,1
156,787,no,3,"Sjoblom, Miss. Anna Sofia",female,18.000000,0,0,3101265,7.4958,...,0,1,0,1,0,0,0,0,0,1
157,789,no,3,"Dean, Master. Bertram Vere",male,1.000000,1,2,C.A. 2315,20.5750,...,0,1,1,0,0,0,0,0,0,1
158,798,no,3,"Osman, Mrs. Mara",female,31.000000,0,0,349244,8.6833,...,0,1,0,0,0,1,0,0,0,1
159,816,yes,1,"Fry, Mr. Richard",male,29.699118,0,0,112058,0.0000,...,0,1,0,0,1,0,0,1,0,0
160,817,yes,3,"Heininen, Miss. Wendla Maria",female,23.000000,0,0,STON/O2. 3101290,7.9250,...,0,1,0,1,0,0,0,0,0,1
161,823,yes,1,"Reuchlin, Jonkheer. John George",male,38.000000,0,0,19972,0.0000,...,0,1,1,0,0,0,0,1,0,0
162,824,no,3,"Moor, Mrs. (Beila)",female,27.000000,0,1,392096,12.4750,...,0,1,0,0,0,1,0,0,0,1
163,828,no,2,"Mallet, Master. Andre",male,1.000000,0,2,S.C./PARIS 2079,37.0042,...,0,0,1,0,0,0,0,0,1,0
164,831,no,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.000000,1,0,2659,14.4542,...,0,0,0,0,0,1,0,0,0,1
165,833,yes,3,"Saad, Mr. Amin",male,29.699118,0,0,2671,7.2292,...,0,0,0,0,1,0,0,0,0,1
166,835,yes,3,"Allum, Mr. Owen George",male,18.000000,0,0,2223,8.3000,...,0,1,0,0,1,0,0,0,0,1
167,843,no,1,"Serepeca, Miss. Augusta",female,30.000000,0,0,113798,31.0000,...,0,0,0,1,0,0,0,1,0,0
168,844,yes,3,"Lemberopolous, Mr. Peter L",male,34.500000,0,0,2683,6.4375,...,0,0,0,0,1,0,0,0,0,1
169,849,yes,2,"Harper, Rev. John",male,28.000000,0,1,248727,33.0000,...,0,1,0,0,0,0,1,0,1,0
170,853,yes,3,"Boulos, Miss. Nourelain",female,9.000000,1,1,2678,15.2458,...,0,0,0,1,0,0,0,0,0,1
171,857,no,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.000000,1,1,36928,164.8667,...,0,1,0,0,0,1,0,1,0,0
172,861,yes,3,"Hansen, Mr. Claus Peter",male,41.000000,2,0,350026,14.1083,...,0,1,0,0,1,0,0,0,0,1
173,866,no,2,"Bystrom, Mrs. (Karolina)",female,42.000000,0,0,236852,13.0000,...,0,1,0,0,0,1,0,0,1,0
174,873,yes,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,...,0,1,0,0,1,0,0,1,0,0
175,879,yes,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,...,0,1,0,0,1,0,0,0,0,1
176,884,yes,2,"Banfield, Mr. Frederick James",male,28.000000,0,0,C.A./SOTON 34068,10.5000,...,0,1,0,0,1,0,0,0,1,0
177,886,yes,3,"Rice, Mrs. William (Margaret Norton)",female,39.000000,0,5,382652,29.1250,...,1,0,0,0,0,1,0,0,0,1
178,891,yes,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,...,1,0,0,0,1,0,0,0,0,1

In [14]:
full_data.drop(["sex", "embarked", "title", "pclass", "otherName", "lastName", "name", "passengerid"], inplace=True, axis=1)

In [15]:
full_data.head(10)

,survived,age,sibsp,parch,ticket,fare,cabin,Training_set,result,sex_female,...,embarked_Q,embarked_S,title_Master,title_Miss,title_Mr,title_Mrs,title_Rev,pclass_1,pclass_2,pclass_3
0,yes,22.000000,0,0,349252,7.8958,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
1,yes,2.000000,3,1,349909,21.0750,NaN,1,1,0,...,0,1,1,0,0,0,0,0,0,1
2,no,3.000000,4,2,347077,31.3875,NaN,1,0,0,...,0,1,1,0,0,0,0,0,0,1
3,yes,25.000000,0,0,347071,7.7750,NaN,1,1,1,...,0,1,0,1,0,0,0,0,0,1
4,yes,17.000000,1,0,350048,7.0542,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
5,no,35.000000,1,0,36973,83.4750,C83,1,0,1,...,0,1,0,0,0,1,0,1,0,0
6,no,24.000000,0,0,PC 17477,69.3000,B35,1,0,1,...,0,0,0,1,0,0,0,1,0,0
7,yes,34.000000,0,0,250647,13.0000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
8,no,32.000000,0,0,1601,56.4958,NaN,1,0,0,...,0,1,0,0,1,0,0,0,0,1
9,yes,29.699118,0,0,PC 17605,27.7208,NaN,1,1,0,...,0,0,0,0,1,0,0,1,0,0

In [16]:
full_data.survived = full_data.survived.apply(lambda label: 1 if label == "yes" else 0)

In [17]:
full_data.survived.value_counts()

1    549
0    342
Name: survived, dtype: int64

# Splitting data into training and test

In [18]:
training_data = full_data[full_data['Training_set'] == 1]
test_data = full_data[full_data['Training_set'] == 0]

In [19]:
training_data

,survived,age,sibsp,parch,ticket,fare,cabin,Training_set,result,sex_female,...,embarked_Q,embarked_S,title_Master,title_Miss,title_Mr,title_Mrs,title_Rev,pclass_1,pclass_2,pclass_3
0,1,22.000000,0,0,349252,7.8958,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
1,1,2.000000,3,1,349909,21.0750,NaN,1,1,0,...,0,1,1,0,0,0,0,0,0,1
2,0,3.000000,4,2,347077,31.3875,NaN,1,0,0,...,0,1,1,0,0,0,0,0,0,1
3,1,25.000000,0,0,347071,7.7750,NaN,1,1,1,...,0,1,0,1,0,0,0,0,0,1
4,1,17.000000,1,0,350048,7.0542,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
5,0,35.000000,1,0,36973,83.4750,C83,1,0,1,...,0,1,0,0,0,1,0,1,0,0
6,0,24.000000,0,0,PC 17477,69.3000,B35,1,0,1,...,0,0,0,1,0,0,0,1,0,0
7,1,34.000000,0,0,250647,13.0000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
8,0,32.000000,0,0,1601,56.4958,NaN,1,0,0,...,0,1,0,0,1,0,0,0,0,1
9,1,29.699118,0,0,PC 17605,27.7208,NaN,1,1,0,...,0,0,0,0,1,0,0,1,0,0
10,0,20.000000,1,0,STON/O 2. 3101285,7.9250,NaN,1,0,0,...,0,1,0,0,1,0,0,0,0,1
11,1,29.000000,1,1,347054,10.4625,G6,1,1,1,...,0,1,0,0,0,1,0,0,0,1
12,1,29.699118,0,0,SOTON/OQ 392086,8.0500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
13,1,29.699118,0,0,392092,8.0500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
14,1,29.699118,1,0,370365,15.5000,NaN,1,1,0,...,1,0,0,0,1,0,0,0,0,1
15,1,23.000000,0,0,244278,10.5000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
16,0,29.699118,1,0,17453,89.1042,C92,1,0,1,...,0,0,0,0,0,1,0,1,0,0
17,0,29.000000,0,0,382651,7.7500,NaN,1,0,0,...,1,0,0,0,1,0,0,0,0,1
18,1,20.000000,0,0,SOTON/O2 3101287,7.9250,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
19,0,25.000000,0,1,230433,26.0000,NaN,1,0,1,...,0,1,0,0,0,1,0,0,1,0
20,0,20.000000,1,1,2653,15.7417,NaN,1,0,0,...,0,0,0,0,1,0,0,0,0,1
21,1,31.000000,0,0,PC 17590,50.4958,A24,1,1,0,...,0,1,0,0,1,0,0,1,0,0
22,1,31.000000,0,0,C.A. 18723,10.5000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
23,1,29.699118,0,0,A/4. 34244,7.2500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
24,1,28.000000,0,0,218629,13.5000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
25,1,33.000000,0,0,347062,7.7750,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
26,0,34.000000,1,1,28220,32.5000,NaN,1,0,1,...,0,1,0,0,0,1,0,0,1,0
27,0,29.699118,0,0,36866,7.7375,NaN,1,0,1,...,1,0,0,1,0,0,0,0,0,1
28,0,28.000000,0,0,230434,13.0000,NaN,1,0,1,...,0,1,0,1,0,0,0,0,1,0
29,1,65.000000,0,0,13509,26.5500,E38,1,1,0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682,1,18.000000,1,0,3101267,6.4958,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
683,1,58.000000,0,2,35273,113.2750,D48,1,1,0,...,0,0,0,0,1,0,0,1,0,0
684,1,24.000000,2,0,S.O.C. 14879,73.5000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
685,0,49.000000,1,0,17453,89.1042,C92,1,0,0,...,0,0,0,0,1,0,0,1,0,0
686,1,19.000000,0,0,347069,7.7750,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
687,1,29.699118,0,0,367655,7.7292,NaN,1,1,0,...,1,0,0,0,1,0,0,0,0,1
688,0,31.000000,0,2,36928,164.8667,C7,1,0,1,...,0,1,0,1,0,0,0,1,0,0
689,1,30.000000,0,0,250646,13.0000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
690,0,36.000000,0,0,28551,13.0000,D,1,0,1,...,0,1,0,0,0,1,0,0,1,0
691,1,29.699118,0,0,315037,8.6625,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
692,0,54.000000,1,0,36947,78.2667,D20,1,0,1,...,0,0,0,1,0,0,0,1,0,0
693,0,23.000000,3,2,19950,263.0000,C23 C25 C27,1,0,1,...,0,1,0,1,0,0,0,1,0,0
694,0,29.699118,0,0,226593,12.3500,E101,1,0,1,...,1,0,0,1,0,0,0,0,1,0
695,1,29.000000,0,0,W./C. 14263,10.5000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
696,0,63.000000,0,0,4134,9.5875,NaN,1,0,1,...,0,1,0,0,0,1,0,0,0,1
697,1,21.000000,0,0,SOTON/OQ 3101317,7.2500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
698,1,40.000000,0,0,PC 17601,27.7208,NaN,1,1,0,...,0,0,0,0,1,0,0,1,0,0
699,0,43.000000,0,1,24160,211.3375,B3,1,0,1,...,0,1,0,0,0,1,0,1,0,0
700,1,20.000000,0,0,350050,7.8542,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
701,1,2.000000,4,1,382652,29.1250,NaN,1,1,0,...,1,0,1,0,0,0,0,0,0,1
702,1,47.000000,0,0,345765,9.0000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
703,1,21.000000,0,0,8475,8.4333,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
704,1,25.000000,0,0,244361,13.0000,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
705,1,16.000000,1,1,C.A. 2673,20.2500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
706,0,34.000000,0,1,231919,23.0000,NaN,1,0,1,...,0,1,0,0,0,1,0,0,1,0
707,0,52.000000,0,0,113786,30.5000,C104,1,0,0,...,0,1,0,0,1,0,0,1,0,0
708,1,24.000000,2,0,A/4 48871,24.1500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,0,1
709,1,19.000000,1,1,C.A. 33112,36.7500,NaN,1,1,0,...,0,1,0,0,1,0,0,0,1,0
710,0,30.000000,3,0,31027,21.0000,NaN,1,0,1,...,0,1,0,0,0,1,0,0,1,0
711,0,22.000000,0,0,C 7077,7.2500,NaN,1,0,1,...,0,1,0,1,0,0,0,0,0,1

# Random Forest implementation

In [20]:
rf = RandomForestClassifier(max_features=10,n_estimators=1000)

In [21]:
full_data.columns.values

array(['survived', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin',
       'Training_set', 'result', 'sex_female', 'sex_male', 'embarked_C',
       'embarked_Q', 'embarked_S', 'title_Master', 'title_Miss',
       'title_Mr', 'title_Mrs', 'title_Rev', 'pclass_1', 'pclass_2',
       'pclass_3'], dtype=object)

In [22]:
relevant_x_columns = ['age','sibsp','parch','fare',
                     'sex_female', 'sex_male', 'embarked_C',
                     'embarked_Q', 'embarked_S', 'title_Master',
                     'title_Miss', 'title_Mr', 'title_Rev', 'pclass_1',
                     'pclass_2', 'pclass_3']

In [23]:
X_train = np.array(training_data[relevant_x_columns])
y_train = np.array(training_data['survived'])

In [24]:
X_test = np.array(test_data[relevant_x_columns])
y_test = np.array(test_data['result'])

In [25]:
print(X_train.shape)
print(X_test.shape)
print(y_test.shape)
print(y_train.shape)

(712, 16)
(179, 16)
(179,)
(712,)

In [26]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=10, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [27]:
y_pred = rf.predict(X_test)

In [28]:
rf.score(X_test, y_test)

0.81005586592178769

In [29]:
rf.feature_importances_

array([ 0.22023559,  0.04817397,  0.02422236,  0.2295941 ,  0.09616498,
        0.09117046,  0.01099272,  0.00913498,  0.01607898,  0.01182036,
        0.0084982 ,  0.11985606,  0.0066148 ,  0.02385303,  0.01268124,
        0.07090818])

# GradientBoostedTrees Implementation

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

In [31]:
GBC = GradientBoostingClassifier(n_estimators=1000, max_depth=5)

In [32]:
GBC.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=5,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=1000, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [33]:
GBC.predict(X_test)

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1])

In [34]:
GBC.score(X_test,y_test)

0.78770949720670391

# GridSearch

In [38]:
from sklearn.grid_search import GridSearchCV
from sklearn.svm import SVC

In [39]:
parameters = {'kernel':['rbf','linear'], 'C':np.logspace(-3,3,5), 'gamma':np.logspace(-3,3,5)}

In [40]:
GridsearchSVM = GridSearchCV(SVC(), parameters, cv=5, verbose=10, scoring='roc_auc', n_jobs=2)

In [ ]:
GridsearchSVM.fit(X_train, y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.698847 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=rbf, C=0.001, gamma=0.001 ................................
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.708910 -   0.1s
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.655289 -   0.1s
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.696417 -   0.0s
[CV] ....... kernel=rbf, C=0.001, gamma=0.001, score=0.749629 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.753021 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.786517 -   0.0s
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.818344 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] .... kernel=linear, C=0.001, gamma=0.001, score=0.766143 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.001 .............................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.750839 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.745601 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.752096 -   0.1s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV] kernel=rbf, C=0.001, gamma=0.0316227766017 ......................
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.763409 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.766143 -   0.0s
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.789273 -   0.0s
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.792243 -   0.0s
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.773797 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV]  kernel=rbf, C=0.001, gamma=0.0316227766017, score=0.789061 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1.0 ..................................
[CV] kernel=linear, C=0.001, gamma=0.0316227766017 ...................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.818344 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.786517 -   0.0s

[Parallel(n_jobs=7)]: Batch computation too fast (0.1103s.) Setting batch_size=2.
[Parallel(n_jobs=7)]: Done   5 tasks      | elapsed:    0.2s
[Parallel(n_jobs=7)]: Done  12 tasks      | elapsed:    0.2s
[Parallel(n_jobs=7)]: Batch computation too fast (0.1708s.) Setting batch_size=4.

[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV]  kernel=linear, C=0.001, gamma=0.0316227766017, score=0.753021 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.727044 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.764256 -   0.1s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.766143 -   0.0s
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.822769 -   0.0s
[CV] ......... kernel=rbf, C=0.001, gamma=1.0, score=0.754717 -   0.1s
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.818344 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1.0 ...............................
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.623278 -   0.0s
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.658071 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=31.6227766017 ........................
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.786517 -   0.0s
[CV] ...... kernel=linear, C=0.001, gamma=1.0, score=0.753021 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.766143 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.822769 -   0.0s
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.686983 -   0.0s
[CV]  kernel=rbf, C=0.001, gamma=31.6227766017, score=0.662285 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] kernel=linear, C=0.001, gamma=31.6227766017 .....................
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.786517 -   0.0s
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.766143 -   0.0s
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.607590 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.711426 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.818344 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.636103 -   0.0s
[CV]  kernel=linear, C=0.001, gamma=31.6227766017, score=0.753021 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.714225 -   0.0s
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.753021 -   0.0s
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.693606 -   0.1s

[Parallel(n_jobs=7)]: Done  26 tasks      | elapsed:    0.4s

[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.749205 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.715618 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] kernel=rbf, C=0.001, gamma=1000.0 ...............................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.641403 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.822769 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.658045 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.780369 -   0.0s
[CV] kernel=linear, C=0.001, gamma=1000.0 ............................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.001 ......................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV] ...... kernel=rbf, C=0.001, gamma=1000.0, score=0.644549 -   0.0s
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.818344 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV] ... kernel=linear, C=0.001, gamma=1000.0, score=0.786517 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.762561 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.886059 -   0.1s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.001, score=0.749841 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.780369 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.784591 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.766457 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.812893 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.886059 -   0.2s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.783337 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.820649 -   0.3s
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.886059 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.812893 -   0.2s
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] kernel=linear, C=0.0316227766017, gamma=0.001 ...................
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................

[Parallel(n_jobs=7)]: Done  50 tasks      | elapsed:    0.7s

[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=rbf, C=0.0316227766017, gamma=1.0 ........................
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.695357 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1.0, score=0.760653 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.708713 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.819165 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.819165 -   0.1s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.001, score=0.856477 -   0.1s
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.696331 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.820649 -   0.3s
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.731715 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.744549 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.812893 -   0.2s
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV] kernel=linear, C=0.0316227766017, gamma=1.0 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=0.0316227766017 ............
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.643920 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.812893 -   0.2s
[CV]  kernel=rbf, C=0.0316227766017, gamma=0.0316227766017, score=0.753564 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.606636 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.640661 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=1000.0 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.856477 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.886059 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV]  kernel=linear, C=0.0316227766017, gamma=1.0, score=0.819165 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.819165 -   0.1s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV]  kernel=rbf, C=0.0316227766017, gamma=1000.0, score=0.638117 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.745388 -   0.0s
[CV] kernel=rbf, C=0.0316227766017, gamma=31.6227766017 ..............
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.736485 -   0.0s
[CV]  kernel=rbf, C=0.0316227766017, gamma=31.6227766017, score=0.716457 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.820649 -   0.3s
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.886059 -   0.1s
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.805809 -   0.0s
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.756080 -   0.0s
[CV] kernel=linear, C=0.0316227766017, gamma=0.0316227766017 .........
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.769133 -   0.0s
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.748742 -   0.0s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV]  kernel=linear, C=0.0316227766017, gamma=0.0316227766017, score=0.856477 -   0.1s
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.785881 -   0.0s
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.812893 -   0.1s
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.789273 -   0.0s

[Parallel(n_jobs=7)]: Done  86 tasks      | elapsed:    1.4s

[CV] kernel=rbf, C=1.0, gamma=0.0316227766017 ........................
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1.0, gamma=0.0316227766017, score=0.778673 -   0.0s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.820649 -   0.4s
[CV] kernel=linear, C=0.0316227766017, gamma=1000.0 ..................
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.820649 -   0.4s
[CV] kernel=linear, C=0.0316227766017, gamma=31.6227766017 ...........
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.819165 -   0.1s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV]  kernel=linear, C=0.0316227766017, gamma=1000.0, score=0.856477 -   0.1s
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.785881 -   0.1s
[CV]  kernel=linear, C=0.0316227766017, gamma=31.6227766017, score=0.856477 -   0.1s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] kernel=rbf, C=1.0, gamma=0.001 ..................................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.775996 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ......... kernel=rbf, C=1.0, gamma=0.001, score=0.761321 -   0.0s
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.760971 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.747904 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.781641 -   0.0s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.718973 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.697901 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.715921 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=31.6227766017 ..........................
[CV] . kernel=rbf, C=1.0, gamma=31.6227766017, score=0.733835 -   0.0s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.835913 -   1.3s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.822537 -   2.0s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.822537 -   1.9s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.905765 -   4.9s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.905765 -   4.9s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.905765 -   4.8s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.607696 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.637905 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.642887 -   0.0s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................

[Parallel(n_jobs=7)]: Batch computation too slow (2.6094s.) Setting batch_size=2.

[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.905765 -   4.8s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.803053 -   3.9s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.803053 -   3.8s
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.835913 -   1.2s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.822537 -   1.8s
[CV] kernel=linear, C=1.0, gamma=0.0316227766017 .....................
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.835913 -   1.1s
[CV] kernel=linear, C=1.0, gamma=0.001 ...............................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.822537 -   1.7s
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.835913 -   1.1s
[CV] kernel=linear, C=1.0, gamma=31.6227766017 .......................
[CV] kernel=linear, C=1.0, gamma=1.0 .................................
[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.850329 -   6.2s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.791929 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1.0 ....................................
[CV] ........... kernel=rbf, C=1.0, gamma=1.0, score=0.783753 -   0.0s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.822537 -   1.8s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.905765 -   4.8s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.835535 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.822327 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.820649 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.809413 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.001 ........................
[CV]  kernel=rbf, C=31.6227766017, gamma=0.001, score=0.845665 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................

[Parallel(n_jobs=7)]: Done 130 tasks      | elapsed:   12.1s

[CV]  kernel=linear, C=1.0, gamma=0.0316227766017, score=0.803053 -   4.1s
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.803053 -   4.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.787789 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.774009 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.799661 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=1.0, gamma=31.6227766017, score=0.850329 -   6.4s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.695912 -   0.0s
[CV] kernel=rbf, C=1.0, gamma=1000.0 .................................
[CV] ........ kernel=rbf, C=1.0, gamma=1000.0, score=0.643082 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV] ...... kernel=linear, C=1.0, gamma=0.001, score=0.850329 -   6.4s
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV] ........ kernel=linear, C=1.0, gamma=1.0, score=0.850329 -   6.4s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.803053 -   4.1s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.774528 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.756709 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.780369 -   0.1s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................
[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.758427 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1.0 ..........................

[Parallel(n_jobs=7)]: Batch computation too slow (3.5466s.) Setting batch_size=1.

[CV] . kernel=rbf, C=31.6227766017, gamma=1.0, score=0.785457 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.835913 -   1.5s
[CV] kernel=linear, C=1.0, gamma=1000.0 ..............................
[CV] ..... kernel=linear, C=1.0, gamma=1000.0, score=0.850329 -   6.5s
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.905136 - 1.2min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.905136 - 1.2min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.905136 - 1.2min
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.754822 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.661006 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.696205 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.715285 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=31.6227766017 ................
[CV]  kernel=rbf, C=31.6227766017, gamma=31.6227766017, score=0.722281 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............

[Parallel(n_jobs=7)]: Done 166 tasks      | elapsed:  1.5min

[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.834429 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.834429 - 1.4min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.826101 - 1.5min
[CV] kernel=linear, C=31.6227766017, gamma=0.0316227766017 ...........
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.826101 - 1.5min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.905136 - 1.1min
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.852449 -  58.8s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.822956 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=0.0316227766017 ..............
[CV]  kernel=rbf, C=31.6227766017, gamma=0.0316227766017, score=0.767400 -   0.1s
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.852449 -  58.5s
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.834429 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=1.0 .......................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.826101 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=0.001 .....................
[CV]  kernel=linear, C=31.6227766017, gamma=0.0316227766017, score=0.804325 - 1.6min
[CV] kernel=linear, C=31.6227766017, gamma=31.6227766017 .............
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.804325 - 1.6min
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.691719 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.623166 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.607272 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.640131 -   0.0s
[CV] kernel=rbf, C=31.6227766017, gamma=1000.0 .......................
[CV]  kernel=rbf, C=31.6227766017, gamma=1000.0, score=0.642145 -   0.0s
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=1.0, score=0.852449 -  58.2s
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................

[Parallel(n_jobs=7)]: Done 187 tasks      | elapsed:  3.7min

[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.826101 - 1.3min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.834429 - 1.2min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.804325 - 1.7min
[CV] kernel=linear, C=31.6227766017, gamma=1000.0 ....................
[CV]  kernel=linear, C=31.6227766017, gamma=31.6227766017, score=0.852449 - 1.0min
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.836583 -   0.3s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.829245 -   0.3s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.811957 -   0.4s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.810473 -   0.5s
[CV] kernel=rbf, C=1000.0, gamma=0.001 ...............................
[CV] ...... kernel=rbf, C=1000.0, gamma=0.001, score=0.824465 -   0.3s
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=0.001, score=0.804325 - 1.7min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.905136 - 1.2min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.826101 - 1.4min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.834429 - 1.4min
[CV] kernel=linear, C=1000.0, gamma=0.001 ............................

[Parallel(n_jobs=7)]: Done 203 tasks      | elapsed:  5.3min

[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.852449 - 1.0min
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.808910 -   0.2s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.740147 -   0.2s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.736909 -   0.2s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.748569 -   0.3s
[CV] kernel=rbf, C=1000.0, gamma=0.0316227766017 .....................
[CV]  kernel=rbf, C=1000.0, gamma=0.0316227766017, score=0.742209 -   1.0s
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV]  kernel=linear, C=31.6227766017, gamma=1000.0, score=0.804325 - 1.7min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.856689 - 4.5min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.804507 - 6.1min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.804507 - 6.2min
[CV] kernel=linear, C=1000.0, gamma=0.0316227766017 ..................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.824677 - 9.4min
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.779140 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.746855 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.760653 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.727157 -   0.1s
[CV] kernel=rbf, C=1000.0, gamma=1.0 .................................
[CV] ........ kernel=rbf, C=1000.0, gamma=1.0, score=0.768497 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................

[Parallel(n_jobs=7)]: Done 218 tasks      | elapsed: 14.1min

[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.856689 - 4.6min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.890671 -11.3min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.890671 -11.5min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.824677 - 9.5min
[CV] kernel=linear, C=1000.0, gamma=1.0 ..............................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.856689 - 4.4min
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.754298 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.660377 -   0.1s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.696205 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.717617 -   0.1s
[CV] kernel=rbf, C=1000.0, gamma=31.6227766017 .......................
[CV]  kernel=rbf, C=1000.0, gamma=31.6227766017, score=0.714437 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.804507 - 6.2min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.824677 - 9.6min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.890671 -11.5min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................
[CV] ... kernel=linear, C=1000.0, gamma=0.001, score=0.871105 -22.5min
[CV] kernel=linear, C=1000.0, gamma=31.6227766017 ....................

[Parallel(n_jobs=7)]: Done 233 tasks      | elapsed: 27.8min

[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.804507 - 6.4min
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.692767 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.623166 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.607272 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.636845 -   0.0s
[CV] kernel=rbf, C=1000.0, gamma=1000.0 ..............................
[CV] ..... kernel=rbf, C=1000.0, gamma=1000.0, score=0.640237 -   0.0s
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.856689 - 4.6min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.890671 -11.8min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=0.0316227766017, score=0.871105 -22.7min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.824677 - 9.6min
[CV] kernel=linear, C=1000.0, gamma=1000.0 ...........................
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.804507 - 6.5min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.856689 - 4.6min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.890671 -11.6min
[CV] ..... kernel=linear, C=1000.0, gamma=1.0, score=0.871105 -21.7min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.824677 - 8.1min
[CV]  kernel=linear, C=1000.0, gamma=31.6227766017, score=0.871105 -16.5min
[CV] .. kernel=linear, C=1000.0, gamma=1000.0, score=0.871105 -11.6min

[Parallel(n_jobs=7)]: Done 250 out of 250 | elapsed: 46.6min finished

In [ ]:
GridsearchSVM.best_params_

In [ ]:
GridsearchSVM.best_score_

In [ ]:
GridsearchSVM.predict(X_test)

In [ ]:
GridsearchSVM.score(X_test,y_test)